/* navbar */
.nav-header{   
  height: 90px;
  display: flex;
  align-items:center;
  border-bottom: 1px solid rgba(204, 169, 169, 0.50);
}
.nav-header .nav-logo{
  display: inline-block;
  margin: 14px auto 14px 20px;
  margin-left: 20px;
}
.mLogo{
  width: 184px;
  height: 54px;
}
.nav-header nav{
  display: flex;
  text-align: center;
  font-size: 16px;
  margin-right: 20px;
}
.nav-txt{
  margin: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.search-icon{
  width: 25px;
  height: 25px;
  margin: 10px;
  margin-left: 60px;
}
.user-icon{
  width: 16px;
  height: 16px;
  margin-left: 60px;

}
.btn-box {
  vertical-align: middle;
color: #fff;
width: auto;
border-radius: 10px;
min-width: 10px;
display: inline-block;
position: relative;
background-size: 104% 104%;
cursor: pointer;
  span{
      font-size: 16px;
      font-weight: 700;
      color: #fff;
  }
}

.btn-box input {
display: inline-block;
background: 0 0;
border: none;
color: #fff;
padding-left: 20px;
height: 40px;
box-sizing: border-box;
width: 0;
transition: all .3s ease-in-out;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 5px;
}
.btn-box:hover input {
display: inline-block;
width: 200px;
padding-right: 50px;
  border-radius: 10px;
  border: 1px solid #98C1FE;
  background: linear-gradient(90deg, rgba(34, 15, 15, 0.00) 5.74%, #17101C 95.72%);
}

.btn-box input:not(:placeholder-shown) {
display: inline-block;
width: 160px;
padding-right: 50px
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-left: 20px;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #BDD8FF;
}
/* Style The Dropdown Button */
.dropbtn {
  width: 115px;
  padding: 10px 20px 0px 20px;    
  height: 30px;
  background: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  span{
      margin-left: 20px;
  }
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  z-index: 10;
  display: none;
  border: 1px solid #80A4DA;
  background: #251E1E;
  min-width: 118px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  position: relative;
  z-index: 99;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border: 1px solid #80A4DA;
  background: #342B2B;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background: #251E1E;
}
.btn-search{
  margin-left: 20px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
/* page */
.wrap-main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  background: var(--web_BK_1, linear-gradient(142deg, #404c53 21.85%, #382538 56.98%, #161618 91.4%));
}

.side-main {
  width: 163px;
}

.container-main {
  margin: 0;
  padding: 0;
  width: 1277px;
}
.wrap-search{
	padding: 40px;
}
.search-num{
	font-size: 40px;
	font-weight: 700;
	background: black;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.wrap-search-card{
	margin: 70px auto;
	width: 1030px;
	display: flex;
	padding: 30px;
	flex-direction: column;
	gap: 30px;
	border-radius: 20px;
	border: 2px solid #9498FE;
	background:black ;
}
.search-card-header{
	display: flex;
}
.search-img{
	width: 180px;
}
.search-text{
	margin-left: 30px;
	h2{
		color: #FFF;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	p{
		color: #FFF;
		font-size: 22px;
		font-weight: 500;
	}
}
.wrap-star-score{
	display: flex;
	p{
		padding-top: 15px;
		color: #FFF;
		font-size: 26px;
		font-weight: 700;
	}
}
.star-search{
	width: 38px;
}
.search-card-p{
	width: 538px;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
}
.btn-search-result{
	display: flex;
	width: 180px;
	height: 51px;
	padding: 5px;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-radius: 10px;
	border: 2px solid #F8D8F5;
	background: linear-gradient(94deg, #463069 1.43%, #A225C2 99.55%);
}
.text-btn-search{
	color: #FFF;
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}



.whole-pagination{
	height: 34px;
	padding: 0px 20px;
	gap: 25px;
	li{
	list-style: none
	}
}
.pagination-num{
	text-decoration: none;
	color: #FFF;
	text-shadow: 0px 4px 9px rgba(232, 151, 151, 0.35);
	font-size: 17px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 7.48px;
}

